<div class="col-3 mb-3">
    <div class="sidebar">
        <ul class="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")"
                   asp-area="UserProfile" asp-controller="UserProfile" asp-action="Index">
                    📊 Обзор профиля
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "ChangePassword" ? "active" : "")"
                   asp-area="" asp-controller="ChangePassword" asp-action="Index">
                    🔐 Сменить пароль
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Orders" ? "active" : "")"
                   asp-area="UserProfile" asp-controller="Orders" asp-action="Index">
                    📦 Мои заказы
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Favorite" asp-action="Index">
                    ❤️ Избранное
                </a>
            </li>
        </ul>
    </div>
</div>