@{
    ViewData["Title"] = "Заказ оформлен";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="alert alert-success">
                <h2>🎉 Заказ успешно оформлен!</h2>
                <p>Спасибо за покупку!</p>
            </div>
            <a class="btn btn-primary" asp-controller="Home" asp-action="Index">
                Вернуться на главную
            </a>
        </div>
    </div>
</div>