@model List<Product>

@{
    ViewData["Title"] = "Product Catalog";
}

<div class="row justify-content-end mb-4">
    <form asp-controller="Home" asp-action="Search" class="d-flex w-50" method="get">
        <input class="form-control me-2" type="search" placeholder="Поиск по названию..." name="query" />
        <button class="btn btn-outline-success" type="submit">Искать</button>
    </form>
</div>

<div class="text-center text-uppercase text-success mb-5 mt-5">
    <h2 class="row-title">Каталог товаров</h2>
</div>

<div class="row">
    @if (Model != null)
    {
        @foreach (var product in Model)
        {
            @await Html.PartialAsync("ProductCard", product)
        }
    }
    else
    {
        <h2>Нет товаров для отображения!</h2>
    }
</div>
