@model List<Product>

@{
    ViewData["Title"] = "Product Catalog";
}

<div class="row">
    @if (Model != null)
    {
        @foreach (var product in Model)
        {
            <div class="col-3 mb-3">
                <div class="card shadow">
                    <img class="card-img-top" src=@product.PhotoPath>
                    <div class="card-body text-center">
                        <a class="text-success" href="/product/index/@product.Id">
                            <h5>@product.Name</h5>
                        </a>
                        <h2 class="text-danger">@product.Cost.ToString("C")</h2>
                        <a class="btn btn-success" href="#">Добавить в корзину</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h2>Нет товаров для отображения!</h2>
    }
</div>
