@model Product
@{
    ViewData["Title"] = "Добавление нового продукта";
}

<div class="row mt-3">
    @await Html.PartialAsync("AdminMenu")
    <div class="col-9 mb-3">
        <div class="text-center text-uppercase text-success mb-5 mt-5">
            <h2 class="row-title">Добавление нового продукта</h2>
        </div>

        <form method="post" asp-action="CreateProduct">
            <div class="row justify-content-center mt-3">
                <div class="col-6 mb-3">
                    <p>
                        <label class="form-label">Наименование товара</label><br />
                        <input class="form-control" name="Name" required />
                    </p>
                    <p>
                        <label class="form-label">Цена, руб.</label><br />
                        <input class="form-control" name="Cost" type="number" step="0.01" required />
                    </p>
                    <p>
                        <label class="form-label">Описание товара</label><br />
                        <input class="form-control" name="Description" />
                    </p>
                </div>
            </div>
            <div class="text-center m-3">
                <button class="btn btn-outline-success" type="submit">
                    Добавить
                </button>
            </div>
        </form>
    </div>
</div>