<div class="col-3 mb-3">
    <div class="sidebar">
        <ul class="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="Orders" asp-action="Index">Заказы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="Users" asp-action="Index">Пользователи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="Roles" asp-action="Index">Роли</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="Products" asp-action="Index">Товары</a>
            </li>
        </ul>
    </div>
</div>