<div class="col-3 mb-3">
    <div class="sidebar">
        <ul class="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="Admin" asp-action="Orders">Заказы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="Admin" asp-action="Users">Пользователи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="Admin" asp-action="Roles">Роли</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="Admin" asp-action="Products">Товары</a>
            </li>
        </ul>
    </div>
</div>